.App {
  background-color: darkblue;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  text-align: center;
}

h1 {
  color: darkorange;
  margin: 0 auto;
  width: 60%;
}

input {
  padding: 5px;
}

.welcome {
  text-align: center;
}


.loadButton {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center;
  width: 6%;
  color: darkorange;
  position: absolute;
}

.logOutButton {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 92%;
   margin: 5px;
   text-align: center;
   width: 6%;
  color: darkorange;
}
