.item {
    display: inline-block;
    color: gold;
    text-align: center;
     margin: 20px;
}

.itemButton {
    width: 30px;
    font-size: 10px;
    border-radius: 20px;
    margin: 5px;
}


.divList {
    text-align: left;
    height: 60px;
}