
.foot {
    text-align: center;
    background-color: darkviolet;
    padding: 30px;
    color: gold;
    position: absolute;
    bottom: 0;
    width: 100%;

  }

  .gitIcon {
    width: 30px;
    margin-left: 8px;
    position: relative;
    top: 5px;
  }

  @media screen and (max-width: 800px) {
    .foot {
      padding: 10px;
      font-size: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .gitIcon {
      width: 20px;
      margin-left: 8px;
      position: relative;
      top: 5px;
  }
}
  