.listName {
    list-style-type: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    width: auto;
    padding: 5px;
    margin: 5px;
    color: gold;
    background-color: #9400D3;
    display: inline-block;
}

.list {
    text-align: center;
    margin-top: 20px;
}

ul {
    margin: 0;
    text-align: start;
}

.inputSave {
    padding: 10px;
    margin: 5px;
    left: 25px;
}

button {
    padding: 5px;
    margin-bottom: 2px;
    margin-top: 5px;
    width: 80px;
    color: gold;
    background-color: #9400D3;
}

.buttonList {
    margin: 15px;
    border-radius: 20px;
    width: 30px;
}
